.contact-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 50px 20px;
  gap: 40px;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: auto;
  margin-top: 100px;
}

.brand-box {
  flex: 1;
  min-width: 250px;
  max-width: 400px;
  text-align: center;
}

.brand-box img {
  max-width: 300px;
}

.brand-box p {
  font-size: 16px;
  color: #666;
  margin-top: 15px;
}

.contact-box {
  flex: 1;
  min-width: 250px;
  max-width: 400px;
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.contact-box h2 {
  margin-bottom: 20px;
  color: #333;
}

.contact-box input {
  width: 95%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-box textarea {
    width: 95%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 150px;
}

.contact-box button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(90deg, #00c6ff, #0072ff);
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-box button:hover {
  background: linear-gradient(90deg, #0072ff, #00c6ff);
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(0,0,0,0.25);
}

.contact-links {
  margin-top: 15px;
  text-align: center;
}

.contact-links a {
  color: black;
  text-decoration: none;
  font-size: 14px;
}

.contact-links a:hover {
    color: red;
}

.contact-links span {
  margin: 0 8px;
  color: #aaa;
}

footer {
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
  margin-top: 40px;
}