* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    background-color: rgb(13, 196, 199);
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    margin-bottom: 100px;
}

body {
    padding-top: 100px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.logo {
    font-size: 24px;
    color: white;
    font-weight: bold;
}

.logo a {
    text-decoration: none;  
    color: white;           
}

.header-icons {
    display: flex;
    gap: 20px; 
}

.header-icons .icon {
    color: white;
    cursor: pointer;
    margin-left: 0; 
}

.header-icons .icon a {
    text-decoration: none; 
    color: white;            
}

.header-icons .icon a:hover{
    color: red;
}

footer {
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
  margin-top: 40px;
}

.container {
    max-width: 900px;
    margin: 30px auto;
    padding: 0 20px;
}

.container p{
    text-align: center;
}

.members {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.card {
  flex: 1;
  background-color: white;
  padding: 30px;
  text-align: center;
  text-decoration: none;
  color: #333;
  border: 2px solid cyan;
  border-radius: 10px;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
  background-color: #e8ffe8;
}

.profile {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.pfp {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  border: 3px solid cyan;
}

.info {
  flex: 1;
  min-width: 250px;
}

.info {
    margin-bottom: 10px;
}

.info h2{
    color: black;
    font-size: 20px;
    margin-bottom: 5px;
    text-align: left;
}

.info p{
    color: black;
    font-size: 20px;
    margin-bottom: 15px;
    text-align: left;
}

.skills{
  padding: 2rem;
  font-family: Arial, sans-serif;
  color: #111;
}

.skills-list{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
  padding: 0;
}

.skill-card{
  background-color: black;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 16px;
  width: 160px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
  color: white;
  transition: transform 0.2s ease;
}

.skill-card:hover{
  transform: translateY(-4px);
}

.skill-card .icon{
  font-size: 1.5rem;
  display: inline-block;
  margin-bottom: 6px;
  color: #333;
}